<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>My Package Info</h3>
      </div>
<!--       <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div> -->
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Pricing Tables Design</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Settings 1</a>
                  </li>
                  <li>
                    <a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="close-link">
                  <i class="fa fa-close"></i>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="table-responsive">
              <div class="membership-pricing-table">
                <table>
                  <tbody>
                    <tr>
                      <th></th>
                      <th class="plan-header">
                        <div class="header-plan-inner">
                          <div class="pricing-plan-name">Rookie</div> Plan
                          <span class="plan-head"> </span>
                        </div>
                      </th>
                      <th class="plan-header">
                        <div class="header-plan-inner">
                          <div class="pricing-plan-name">Standard</div> Plan
                          <span class="plan-head"> </span>
                        </div>
                      </th>
                      <th class="plan-header">
                        <div class="header-plan-inner">
                          <div class="pricing-plan-name">Professional</div> Plan
                          <span class="plan-head"> </span>
                        </div>
                      </th>
                      <th class="plan-header">
                        <div class="header-plan-inner">


                          <div class="pricing-plan-name">Developer</div> Plan
                          <span class="plan-head"> </span>
                        </div>

                      </th>
                    </tr>

                    <tr>
                      <td>Online Support</td>
                      <td>8 Hours</td>
                      <td>12 Hours</td>
                      <td>12 Hours</td>
                      <td>24 Hours</td>
                    </tr>
                    <tr>
                      <td>Hard disk space</td>
                      <td>50 GB</td>
                      <td>100 GB</td>
                      <td>150 GB</td>
                      <td>200 GB</td>
                    </tr>
                    <tr>
                      <td>Email Accounts</td>
                      <td>1</td>
                      <td>10</td>
                      <td>50</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>Contract Period</td>
                      <td>2 Years</td>
                      <td>3 Years</td>
                      <td>5 Years</td>
                      <td>10 Years</td>
                    </tr>
                    <tr>
                      <td>Domains</td>
                      <td>1</td>
                      <td>5</td>
                      <td>10</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td>mySQL</td>
                      <td>1</td>
                      <td>2</td>
                      <td>5</td>
                      <td>10</td>
                    </tr>
                    <tr class="price-row">
                      <td>Price
                        <sup>/mo</sup>
                      </td>
                      <td>$10
                        <sup>99</sup>
                      </td>
                      <td>$15
                        <sup>99</sup>
                      </td>
                      <td>$20
                        <sup>99</sup>
                      </td>
                      <td>$25
                        <sup>99</sup>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="action-header">
                        <a class="btn btn-warning"> Downgrade </a>
                      </td>
                      <td class="action-header">
                        <a class="btn btn-warning"> Downgrade </a>
                      </td>
                      <td class="action-header">
                        <div class="current-plan">
                          <div class="with-date">Current Plan</div>
                          <div>
                            <em class="smaller block">renews Feb 19, 2018</em>
                          </div>
                        </div>
                      </td>
                      <td class="action-header">
                        <a class="btn btn-warning"> Upgrade </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->