<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>My Profile</h3>
      </div>
      <!-- Commented out as per rajus request, no search bar needed on screen -->
      <!-- <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div> -->
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <app-company-information>Loading company information...</app-company-information>
        <app-company-contact-info>Loading contact information...</app-company-contact-info>
        <app-company-social-media-info>Loading social media information...</app-company-social-media-info>
      </div>
      <div class="col-md-6 col-xs-12">
        <app-company-logo>Loading company logo...</app-company-logo>
        <app-company-address-details>Loading address details...</app-company-address-details>
      </div>
      <div class="col-md-12 col-xs-12">
        <app-company-registration>Loading company registration details...</app-company-registration>
      </div>
      <div class="col-md-12 col-xs-12">
        <app-business-types>Loading business types...</app-business-types>
      </div>
    </div>
  </div>
  <!-- Progress bar goes here -->
  <app-profile-progress>Loading profile progress...</app-profile-progress>
  <!--#sidebar-main-->
</div>